extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg SignUp your account
      form.form--signup
        .form__group
          label.form__label(for='signupName') Name
          input#signupName.form__input(type='text', placeholder='Your Name', required)
        .form__group
          label.form__label(for='signupEmail') Email address
          input#signupEmail.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          label.form__label(for='signupPassword') Password
          input#signupPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          label.form__label(for='signupPasswordConfirmation') Confirm Password
          input#signupPasswordConfirmation.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Signup
